apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: infra-monitors
  namespace: argocd
spec:
  project: default
  source:
    repoURL: 'https://github.com/spartan-namdang/obs-demo-stack'
    targetRevision: HEAD
    path: k8s/infra-monitors/components
  destination:
    server: https://kubernetes.default.svc
    namespace: demo
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true # Automatically creates 'demo' namespace