# General
.DS_Store

# Editors
.vscode/
.idea/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup

# Go
/bin/
*.exe
*.test

# Python
__pycache__/
*.pyc
venv/
.env
*.egg-info/

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*