apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: loki-stack
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://grafana.github.io/helm-charts
    chart: loki-stack
    targetRevision: 2.10.1
    helm:
      values: |
        loki:
          enabled: true
          isDefault: false # We manually config datasources in Grafana
          persistence:
            enabled: false
          config:
            table_manager:
              retention_deletes_enabled: true
              retention_period: 48h

        promtail:
          enabled: true
          config:
            clients:
              - url: http://loki-stack.monitoring.svc.cluster.local:3100/loki/api/v1/push
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  syncPolicy:
    automated:
      prune: true
      selfHeal: true