apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: loki
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://grafana.github.io/helm-charts
    chart: loki
    targetRevision: 6.49.0
    helm:
      values: |
        loki:
          auth_enabled: false

          commonConfig:
            replication_factor: 1

          storage:
            type: filesystem

          schemaConfig:
            configs:
              - from: 2023-01-01
                store: boltdb-shipper
                object_store: filesystem
                schema: v12
                index:
                  prefix: index_
                  period: 24h

        deploymentMode: SingleBinary

        singleBinary:
          replicas: 1
          
        # Disable scalable components
        read:
          replicas: 0
        write:
          replicas: 0
        backend:
          replicas: 0

        promtail:
          enabled: true
          config:
            clients:
              - url: http://loki.monitoring.svc.cluster.local:3100/loki/api/v1/push
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  syncPolicy:
    automated:
      prune: true
      selfHeal: true