apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: promtail
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://grafana.github.io/helm-charts
    chart: promtail
    targetRevision: 6.17.1
    helm:
      values: |
        config:
          clients:
            - url: http://loki-gateway.monitoring.svc.cluster.local/loki/api/v1/push

          snippets:
            extraRelabelConfigs:
              - action: drop
                source_labels: [__meta_kubernetes_pod_phase]
                regex: Pending|Succeeded|Failed

            pipelineStages:
              # Parse outer container log JSON
              - json:
                  expressions:
                    log: log

              # Parse inner application JSON
              - json:
                  source: log
                  expressions:
                    trace_id: trace_id
                    level: level
                    msg: msg

  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
