apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: prometheus
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "0"
spec:
  project: default
  source:
    repoURL: https://prometheus-community.github.io/helm-charts
    chart: kube-prometheus-stack
    targetRevision: 56.0.0
    helm:
      values: |
        prometheus:
          enabled: true
          prometheusSpec:
            # IMPORTANT: Allows scraping ServiceMonitors in the 'demo' namespace
            serviceMonitorSelectorNilUsesHelmValues: false
            serviceMonitorSelector: {}
            serviceMonitorNamespaceSelector: {}
            
            # Reduce retention for local demo
            retention: 2d
            resources:
              requests:
                memory: 400Mi

        # We deploy Grafana separately to have better control over config
        grafana:
          enabled: false
          
        nodeExporter:
          enabled: true
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  syncPolicy:
    automated:
      prune: true
    syncOptions:
      - ServerSideApply=true