apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: inventory-service
  namespace: demo
  labels:
    release: prometheus
spec:
  selector:
    matchLabels:
      app: inventory-service
  namespaceSelector:
    matchNames:
      - demo
  endpoints:
    - port: http
      path: /metrics
      interval: 30s