apiVersion: apps/v1
kind: Deployment
metadata:
  name: inventory-service
  namespace: demo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: inventory-service
  template:
    metadata:
      labels:
        app: inventory-service
    spec:
      containers:
      - name: app
        image: inventory-service:latest
        imagePullPolicy: Never
        env:
        - name: REDIS_HOST
          value: "redis-master"
        - name: POSTGRES_DSN
          value: "postgresql://demo_user:demo_pass@postgres-postgresql:5432/demo_db"
        - name: SQS_ENDPOINT
          value: "http://localstack:4566"
        - name: SQS_QUEUE_URL
          value: "http://localstack:4566/000000000000/orders-queue"
        ports:
        - containerPort: 8000
        readinessProbe:
          httpGet:
            path: /healthz
            port: 8000
          initialDelaySeconds: 10
          periodSeconds: 10
---
apiVersion: v1
kind: Service
metadata:
  name: inventory-service
  namespace: demo
  labels:
    app: inventory-service
spec:
  selector:
    app: inventory-service
  ports:
  - port: 80
    targetPort: 8000
    name: http